name: Deploy to Dev Server

on:
  push:
    branches:
      - main   # Trigger inside the workflow on push to main branch

jobs:
  deploy: # Deploy job
    name: Deploy every application (next, http-backend, ws-backend) to Dev Server (GCP VM)
    runs-on: ubuntu-latest # This job will run on a GitHub-hosted Ubuntu VM

    steps:
      - name: SSH to Dev Server
        run: |
          mkdir ~/.ssh
          echo "${{secrets.SSH_PRIVATE_KEY_DEV}}" &> ~/.ssh/dev
          echo "${{secrets.KNOWN_HOSTS}}" &> ~/.ssh/known_hosts
          chmod 400 ~/.ssh/dev
          ssh -i ~/.ssh/dev dev@34.57.134.178 '
            export NVM_DIR="$HOME/.nvm";
            source "$NVM_DIR/nvm.sh";
            cd /home/dev/week_25.2_deploy_nextks &&
            git pull origin main &&
            pnpm install &&
            sudo nginx -t && 
            pm2 restart all
          '

